<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1>Sign Up</h1>

    <% if (typeof error !== 'undefined' && error) { %>
      <div id="error-message"><%= error %></div>
    <% } %>

    <form action="/auth/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <div class="password-container">
        <input type="password" id="password" name="password" required />
        <span class="password-toggle" onclick="togglePassword('password')"
          >🔒</span
        >
      </div>

      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>

    <script>
      function togglePassword(inputId) {
        const input = document.getElementById(inputId);
        const toggle = input.nextElementSibling;

        if (input.type === "password") {
          input.type = "text";
          toggle.textContent = "🔓";
        } else {
          input.type = "password";
          toggle.textContent = "🔒";
        }
      }
    </script>
  </body>
</html>
